{% form_theme countryForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-7 text-center">
   <h2 class="text text-warning">Edit country</h2>
   {{ form_start (countryForm) }}
   {{ form_end (countryForm) }}
</div>
{% endblock %}